/*CONTACTO*/
.mainGrid{
    display: flex;
    padding: 5%;
    margin: 5% 0% 10% 0%;
    justify-content: center;
    @media(max-width: $responsive){
        display: inline;
        text-align: center;
        width: auto;
        justify-content: center;
    }
    .divGrid{
        display: inline-block;
        height: 10%;
        align-self: center;
        padding: 5%;
        @media(max-width: $responsive){
            display: flex;
        }
        h1{
            @include titles;
            align-items: center;
            justify-items: center;
            width: 50%;
            padding: 3%;
            border-radius: 10px;
            @media(max-width: $responsive){
                width: auto;
            }
        }
    }
    .box-contacto{
        background-color: $boxColor;
        border-radius: 10px;
        form{
            text-align: center;
            div{
                text-align: left;
                p{
                    color: white;
                }
            }
        }
        .boton{
            & button{
                background-color: royalblue;
                color: white;
                border-radius: 3px;
                cursor: pointer;
                width: 98%;
                border: none; 
            }
        }
        @media (max-width: $responsive) {
            display: flex;
            justify-content: center;
        }
    }
    
}
.btnwpp{
    background-color: #0011A8;
    display: inline;
    justify-content: center;
    text-align: center;
    margin: 30% 0%;
    h2{
        text-align: center;
        font-weight: normal;
    }
    a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 5%;
        button{
            background-color: #21A705;
            border-radius: 15px;
            text-align: center;
            width: 11%;
            padding: 1%;
            border: none;
            color: white;
            @media (max-width: $responsive){
                width: auto;
            }
        }
    }
}
.titulo2{
    text-align: center;
    h2{
        @include titles;
        width: auto;
        display: inline-block;
        padding: 1%;
        border-radius: 10px ;
        margin: 5% 0;
    }
}
.grid{
    display: flex;
    padding: 5%;
    justify-content: center;
    div{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 20px;
        text-align: center;
        ul{
            list-style: none;
            li{
                p{
                    display: inline-block;
                }
                img{
                    width: 3%;
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: $responsive){
    .grid{
        display: block;
        text-align: center;
    }
}
@media(max-width: $responsive){
    .grid div{
        display: inline-block;
       }
}
@media (max-width: $responsive){
    .map{
        width: auto;
    }
}