/*NOSOTROS*/
.mainNosotros{
    text-align: center;
    padding: 5%;
    justify-content: center;
    h2{
        @include titles;
        display: inline-block;
        border-radius: 10px;
        padding: 1%;
        width: auto;
    }
    p{
        padding: 3%;
    }
}
.sectionNTitulo{
    h2{
        @include titles;
        /*text-align: center;   NO LO TOMA, POR ESO LO ESCRIBI EN LINEA*/
        padding: 1%;
        width: auto;
        display: inline-block;
        border-radius: 10px;
        margin-bottom: 5%;
    }
}
.sectionNosotros{
    @media (max-width: $responsive){
        .container-fluid{
            box-sizing: initial;
        }
    }
}