
/*Variables*/
$boxColor: #21A705;
$fontColor: #F5F5F5;
$responsive: 990px;
@mixin titles ($boxColor:#21A705, $fontColor:#F5F5F5){
    background-color: $boxColor;
    color: $fontColor;
}
@import 'header';
@import "index";
@import "footer";
@import "nosotros";
@import "envios";
@import "catalogo";
@import "contacto";
